// .seasons {
//     background-color: rgb(224, 217, 217);
//     color: black;
// }

.dark {
    background-color: rgb(26, 25, 25);
    color: rgb(231, 226, 226);
}

.light {
    background-color: rgb(224, 217, 217);
    color: black;
}